@keyframes pulse {
  0% {opacity: 0}
  50% {opacity: 0.5}
  100% {opacity: 0}
}

@keyframes fade-in {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes move-up-and-fade-in {
  0% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

html, body, .app, #root {
  width: 100%;
  height: 100%;
}

body {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  touch-callout: none;
  background-color: #dfecfa;
}

/* iPad Pro resolution: 2732x2048*/
.app {
  text-align: center;
  margin: 0 auto;
  max-width: 2048px;
  max-height: 2732px;
  position: relative;
  background-color: #dfecfa;
}

.app h1 {
  padding: 0.67em 0;
  margin-bottom: 10 ;
  background-color: #08468E;
  color: #FFFFFF;
}

.app h3 {
  background-color: #084387;
  color: #FFFFFF;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  text-align: center;
}


.app p {
  line-height: 1.5em;
  color: #222222;
}

.blocks-container {
  display: flex;
  height: max-content;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  margin: 40px 60px 0px 60px;
  border-radius: 10px;
}

.blocks-container > * { /*image container*/
  display: block;
  width: 180px;
  height: 180px;
  margin: 20px;
  opacity: 0;
  position: relative;
  transition: transform 0.5s;
}

.blocks-container > *.selected {
  transform: scale(1.15);
  box-shadow: 0 0 100px rgba(90, 90, 90, 0.5);
  z-index: 1;
}

/*.blocks-container img {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  object-fit: cover;
}*/

.blocks-container img {
  width: 200px;
  height: 200px;
}

.blocks-container div {
  width: 100%;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  object-fit: cover;
  padding: 20px;
  margin-bottom: 150px;
}

.button {
  background-color: white;
  border-radius: 12;
}

.content-area {
  padding: 40px;
  text-align: center;
}

.content-area button {
  width: 100%;
  height: 56px;
  background: white;
  color: #898989;
  border: none;
  border-radius: 10px;
  font-size: 28px;
  font-weight: normal;
  margin: 20px;
}

.content-area button.selected {
  background-color: white;
  color: #084387;
  margin: 20;
  border-radius: 10;
  font-size: 28px;
  font-weight: bold;
  border: 4px solid #084387;
}

.bottom-toolbar {
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.bottom-toolbar nav,
.bottom-toolbar ul {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bottom-toolbar ul {
  display: flex;
  list-style: none;
}

.bottom-toolbar ul > * {
  background-color: #084387;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-toolbar ul > * svg path {
  fill: #dfecfa;
}

.bottom-toolbar ul > *.selected {
  background-color: #dfecfa;
}

.bottom-toolbar ul > *.selected svg path {
  fill: #084387;
}

.top-appbar {
  height: 90px;
  position: top;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 32px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  background-color: #084387;
}

.modal {
  font-size: 12px;
  height: 800px;
  position: center;
}

.modal > .header {
  background-color: #084387;
  color: white;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  margin: auto;
}
.modal > .actions {
  width: 50%;
  padding: 10px 5px;
  text-align: center;
}
.modal > .close {
  background-color: #084387;
  color: white;
  font-weight: bold;
  width: 15%;
  padding: 2px 5px;
  line-height: 20px;
  font-size: 24px;
  border-radius: 10px;
}

.modal > .dropdown {
  position: center;
  font-size: 28px;
  margin: 20px;
  border: 1px solid #898989;
  padding: 5px;
}

@media screen and (max-width: 576px) {

  body, html {
    position: fixed;
  }

  h1 {
    font-size: 16pt;
  }

  .blocks-container img,
  .blocks-container .loading-block,
  .blocks-container .image-filter {
    width: 31vw;
    height: 31vw;
    margin-bottom: 3.5vw;
  }

}
