.selected {
    background: white;
    color: #084387;
    margin: 20;
    border-radius: 10;
    font-size: 28;
    font-weight: bold;
    border: 4px solid #084387,
}

button {
    background: white;
    color: #898989;
    margin: 20;
    border-radius: 10;
    font-size: 28;
    font-weight: normal;
    border: 4px solid #084387,
}

